body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(241, 241, 196);
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  border-radius: 50%;
  margin: 1rem;
}

.dropdown-menu, .dropdown-toggle {
  background-color: rgb(87, 45, 14);
  margin-bottom: 0.1rem;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-decoration: none;
}

.dropdown-toggle {
  margin-right: 1.7rem;
}

.dropdown-item {
  color: white;
  text-decoration: none;
  padding: 1.5rem;
  margin-top: 1.2rem;
}

.container {
  background-color: rgb(206, 167, 120);
  border-radius: 10px;
  min-width: 40rem;
  min-height: 25rem;
  max-height: 100%;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.form-control {
  display: flex;

}

button {
  background-color: rgb(87, 45, 14);
  color: white;
  border: none;
  border-radius: 10px;
  display: block;
  min-width: 45%;
  cursor: pointer;
  font-size: 1.5rem;
}

#link1, #link2, a {
  text-decoration: none;
}

#user {
  background-color: rgb(87, 45, 14);
  color: white;
  border: none;
  border-radius: 10px;
  padding-inline: 1rem;
  min-width: 75%;
  cursor: pointer;
  font-size: 1.2rem;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.card {
  background-color: rgb(197, 137, 64);
  border: 2.5px solid rgb(87, 45, 14);
  border-radius: 10px;
  margin: 2rem;
}

.card, .card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

}

.card-body {
  padding: 1.2rem;
}

#img1, #img2 {
  height: 35rem;
  width: 25rem;
}

table {
  min-width: 30%;
  border: 2px solid brown;
}

td {
  text-align: center;
}

@media print{
  #invoiceDoc {
    font-size: 20px;
  }
}

